@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap");
@import url("fontawesome/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  color: #413D4B; }

a {
  text-decoration: none; }

.overlay * {
  color: white; }

body {
  background-color: #fff;
  min-width: 320px;
  margin: 0 auto;
  position: relative; }

h2 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: .5pt; }

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: black;
  font-size: 16px;
  text-transform: uppercase; }

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase; }

p {
  opacity: 75%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px; }

.title > p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: .75pt; }

.button {
  display: inline-block;
  font-family: 'Hammersmith One', sans-serif;
  color: #00E0D0;
  border: 1px solid #00E0D0;
  padding: 10px 16px;
  border-radius: 2px;
  text-transform: uppercase; }
  .button:hover {
    -webkit-box-shadow: 0 0 5px #00E0D0;
    box-shadow: 0 0 5px #00E0D0;
    -webkit-box-shadow: inset 0 0 5px #00E0D0;
    box-shadow: inset 0 0 5px #00E0D0; }

.wrapper {
  max-width: 940px;
  padding: 0 10px;
  margin: auto; }

.overlay {
  background: -webkit-gradient(linear, left top, right top, from(#0E0834), to(#2C1A58));
  background: -webkit-linear-gradient(left, #0E0834, #2C1A58);
  background: -o-linear-gradient(left, #0E0834, #2C1A58);
  background: linear-gradient(to right, #0E0834, #2C1A58);
  opacity: 0.85;
  width: 100%; }
  .overlay p {
    opacity: 1; }

header {
  background-image: url("../images/header-background.png");
  background-size: cover; }
  header .wrapper {
    height: 670px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  header .roof {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0; }
    header .roof .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 525px; }
      header .roof .menu a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: white; }
        header .roof .menu a:hover {
          color: #00E0D0; }
  header .first-slide {
    text-align: center;
    max-width: 780px;
    margin: auto; }
    header .first-slide h1 {
      font-family: 'Playfair Display', sans-serif;
      font-weight: 900;
      font-size: 32px;
      line-height: 29px; }
    header .first-slide .hr {
      background-color: #00E0D0;
      width: 50px;
      height: 1px;
      margin: 30px auto; }
    header .first-slide p {
      margin-bottom: 50px; }
  header .dots {
    line-height: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 80px; }
    header .dots .dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      border: 1px solid white;
      border-radius: 50%;
      cursor: pointer;
      margin: 2.5px; }
    header .dots .dot.active {
      background-color: #00E0D0;
      border-color: #00E0D0; }
  @media (max-width: 720px) {
    header .roof img {
      padding-right: 10px; }
    header .roof .menu {
      margin: auto; } }
  @media (max-width: 590px) {
    header .roof .menu {
      display: none; } }

#text-about {
  background-color: #fff;
  padding: 70px 0; }
  #text-about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #text-about .left {
    width: 400px;
    text-align: center; }
    #text-about .left img {
      margin: auto 0; }
  #text-about .right {
    width: calc(100% - 400px); }
    #text-about .right p {
      margin: 30px 0; }

@media (max-width: 820px) {
  #text-about .left {
    width: 50%; }
  #text-about .right {
    width: 50%; } }

@media (max-width: 650px) {
  #text-about .wrapper {
    display: block; }
  #text-about .left {
    width: 100%;
    margin-bottom: 20px; }
  #text-about .right {
    width: 100%; } }

#video-about {
  background-image: url("../images/video-about-background.png");
  background-size: cover; }
  #video-about .overlay {
    height: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #video-about .overlay img[alt='play-bigicon'] {
      margin-bottom: 30px; }

@media (max-width: 400px) {
  #video-about .overlay {
    height: 480px; } }

#expertise {
  padding: 70px 0;
  text-align: center; }
  #expertise .title {
    padding-bottom: 48px; }
    #expertise .title p {
      margin: 10px auto 15px; }
    #expertise .title .hr {
      width: 50px;
      height: 1px;
      margin: auto;
      background-color: #413D4B;
      opacity: .3; }
  #expertise .items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; }
    #expertise .items .item {
      padding: 36px calc(50% - 127.5px); }
      #expertise .items .item h4 {
        margin: 35px auto 25px; }
    #expertise .items .top {
      border-bottom: 1px solid #F4F4F4; }
    #expertise .items .center {
      border-left: 1px solid #F4F4F4;
      border-right: 1px solid #F4F4F4; }

@media (max-width: 960px) {
  #expertise .items {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
    #expertise .items .item {
      border: none; }
    #expertise .items .item {
      border: none; } }

@media (max-width: 600px) {
  #expertise .items {
    display: block; }
    #expertise .items .item {
      border-top: 1px solid #f4f4f4; }
    #expertise .items .first {
      border: none; } }

#teams {
  background-image: url("../images/team-background.png");
  background-size: cover;
  text-align: center; }
  #teams .wrapper {
    min-height: 712px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  #teams .title {
    padding-top: 70px; }
    #teams .title p {
      margin: 7px 0 15px; }
    #teams .title .hr {
      height: 2px;
      width: 50px;
      background-color: #f9f9f9;
      opacity: .2;
      margin: auto; }
  #teams .items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center; }
    #teams .items .item {
      width: 220px; }
      #teams .items .item .image {
        width: 220px;
        height: 230px;
        background-color: white;
        opacity: 1; }
      #teams .items .item .text {
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 16px 0 20px; }
        #teams .items .item .text h4 {
          font-size: 14px;
          margin-bottom: 2px; }
        #teams .items .item .text p {
          text-transform: uppercase;
          opacity: .7; }
  #teams .bottom {
    padding: 30px 0 70px; }
    #teams .bottom p {
      margin-bottom: 26px; }

@media (max-width: 940px) {
  #teams .items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); }
    #teams .items .item {
      margin: 10px auto; } }

@media (max-width: 570px) {
  #teams .items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; } }

#works {
  text-align: center; }
  #works .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #works .title .left, #works .title .right {
      padding: 70px 0;
      width: 50%;
      text-align: center;
      opacity: 1;
      line-height: 24px; }
  #works .items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
    margin: auto; }
    #works .items .item {
      height: 200px; }
    #works .items .a1 {
      background-color: #B6B6B6; }
    #works .items .a2 {
      background-color: #ACACAC; }
    #works .items .a3 {
      background-color: #A1A1A1; }
    #works .items .a4 {
      background-color: #8A8A8A; }
    #works .items .a5 {
      background-color: #A4A4A4; }
  #works .bottom {
    padding: 70px 0; }

@media (max-width: 1200px) {
  #works .items {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr); } }

@media (max-width: 900px) {
  #works .items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr); } }

@media (max-width: 600px) {
  #works .items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 400px) {
  #works .items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); } }

@media (max-width: 550px) {
  #works .title {
    display: block;
    text-align: center; }
    #works .title > .left, #works .title .right {
      width: 100%;
      margin: 35px auto;
      padding: 0; } }

#testimonials {
  background-image: url("../images/testimonials-background.png");
  background-size: cover; }
  #testimonials .overlay {
    height: 500px; }
  #testimonials .wrapper {
    padding: 70px 0;
    max-width: 780px; }
  #testimonials .slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 245px; }
    #testimonials .slide .mark {
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-size: 100px;
      line-height: 0px;
      opacity: .9;
      padding-top: 30px; }
    #testimonials .slide .quote {
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      opacity: .85;
      letter-spacing: .25px; }
    #testimonials .slide h4 {
      line-height: 22px;
      font-size: 14px; }
    #testimonials .slide .position {
      font-size: 13px;
      line-height: 22px;
      opacity: .7; }
  #testimonials .selectors {
    text-align: center;
    padding-top: 45px; }
    #testimonials .selectors .item {
      display: inline-block;
      vertical-align: middle; }
    #testimonials .selectors .item img {
      width: 45px;
      height: 45px;
      margin: 0px 12.5px; }
    #testimonials .selectors .item:hover img, #testimonials .selectors .item.active img {
      width: 70px;
      height: 70px;
      margin: 0; }

@media (max-width: 600px) {
  #testimonials .overlay {
    height: 600px; }
  #testimonials .slide {
    height: 345px; }
  #testimonials .selectors .item img {
    width: 35px;
    height: 35px;
    margin: 0px 12.5px; }
  #testimonials .selectors .item:hover img, #testimonials .selectors .item.active img {
    width: 60px;
    height: 60px;
    margin: 0; } }

@media (max-width: 400px) {
  #testimonials .overlay {
    height: 650px; }
  #testimonials .slide {
    height: 395px; } }

#contact .wrapper {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#contact .contact-form {
  width: 50%; }
  #contact .contact-form form input, #contact .contact-form form textarea {
    display: block;
    margin: 23px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    opacity: .5;
    padding: 15px 20px;
    width: calc(100% - 44px); }

#contact .clients {
  width: 380px; }
  #contact .clients .items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #contact .clients .items img {
      width: 160px;
      margin-top: 20px;
      margin-bottom: 20px; }

@media (max-width: 850px) {
  #contact .wrapper {
    padding: 30px 0;
    display: block; }
    #contact .wrapper > * {
      width: 470px;
      margin: 30px auto; }
  #contact .contact-form {
    margin-bottom: 30px; } }

@media (max-width: 520px) {
  #contact .wrapper > * {
    width: 90%;
    text-align: center; }
  #contact .clients .items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center; }
  #contact .contact-form {
    margin: auto; }
    #contact .contact-form form input, #contact .contact-form textarea {
      margin: 15px auto; } }

#footer {
  background-image: url("../images/footer-background.png");
  background-size: cover; }
  #footer .overlay {
    height: 400px; }
  #footer .wrapper {
    padding: 70px 10px;
    height: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  #footer .items {
    display: -ms-grid;
    display: grid;
    grid-template-areas: 'a c e' 'b d f'; }
    #footer .items > * {
      width: 285px; }
    #footer .items .title {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      margin-bottom: 20px; }
      #footer .items .title h4 {
        font-size: 15px; }
    #footer .items .grid-a {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: a; }
    #footer .items .grid-b {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      grid-area: b; }
    #footer .items .grid-c {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
      grid-area: c; }
    #footer .items .grid-d {
      -ms-grid-row: 2;
      -ms-grid-column: 2;
      grid-area: d; }
      #footer .items .grid-d .address {
        margin-bottom: 20px; }
      #footer .items .grid-d p {
        display: inline-block;
        margin-left: 10px; }
      #footer .items .grid-d > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      #footer .items .grid-d .phone {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
    #footer .items .grid-e {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      grid-area: e; }
    #footer .items .grid-f {
      -ms-grid-row: 2;
      -ms-grid-column: 3;
      grid-area: f;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #footer .items .grid-f form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #footer .items .grid-f form input, #footer .items .grid-f form textarea {
          display: block;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: 14px;
          color: white;
          opacity: .75;
          padding: 15px;
          width: calc(100% - 112px);
          background: none;
          border: 1px solid rgba(255, 255, 255, 0.5); }
        #footer .items .grid-f form a .submit {
          width: 70px;
          height: 49px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.5); }
          #footer .items .grid-f form a .submit .far {
            color: black;
            font-size: 24px; }
      #footer .items .grid-f .soc-nets {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        #footer .items .grid-f .soc-nets .net {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 33px;
          height: 33px;
          border: 1px solid white;
          border-radius: 100%;
          margin-right: 6px; }
  #footer .basement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #footer .basement .menu {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
      #footer .basement .menu a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        margin-right: 32px; }
        #footer .basement .menu a:hover {
          color: #00E0D0; }
    #footer .basement p {
      font-weight: normal; }

@media (max-width: 900px) {
  #footer .overlay {
    height: auto; }
  #footer .wrapper {
    height: auto; }
  #footer .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #footer .items .title {
      margin: 40px auto 20px;
      text-align: center; }
    #footer .items .content {
      margin: auto; }
    #footer .items .grid-f {
      width: 285px; }
      #footer .items .grid-f > * {
        margin-bottom: 20px; } }

@media (max-width: 500px) {
  #footer .grid-f .soc-nets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .basement {
    display: block;
    text-align: center; }
    .basement .menu a {
      margin: 10px 16px; } }
